
@mixin flex-computed-margin() {
  @if map-has-key($-gridkit-context, gap) {
    $gap: map-get($-gridkit-context, gap);
    $x: get-x($gap) / 2;
    $y: get-y($gap) / 2;
    margin: $y $x;
  }
}

@mixin flex-computed-area($area) {
  flex: 0 1 auto;
  width: #{width-string($area)};
  height: #{height-string($area)};
}
