@import 'gridkit/flex';

@mixin grid() {
  display: flex;
  flex-flow: row-wrap;
  @if ($use-grid) {
    @supports(display: grid) {
      display: grid;
    }
  }
}

@mixin grid-gap($gap) {
  $-gridkit-context: map-merge($-gridkit-context, (gap: $gap)) !global;
  @if ($use-grid) {
    grid-gap: $gap;
  }
}


@mixin grid-template-columns($columns) {
  $-gridkit-context: map-merge($-gridkit-context, (columns: $columns)) !global;
  @if ($use-grid) {
    grid-template-columns: #{$columns};
  }
}

@mixin grid-template-rows($rows) {
  $-gridkit-context: map-merge($-gridkit-context, (rows: $rows)) !global;
  @if ($use-grid) {
    grid-template-columns: #{$rows};
  }
}

@mixin grid-template-areas($areas) {
  $-gridkit-context: map-merge($-gridkit-context, (areas: $areas)) !global;
  @if ($use-grid) {
    grid-template-areas: $areas;
  }
}

@mixin grid-area($area) {
  @supports not (display: grid) {
    @include flex-computed-area($area);
    @include flex-computed-margin();
  }

  @if ($use-grid) {
    @supports(display: grid) {
      grid-area: $area;
    }
  }
}
